{% extends 'base.html'%}

{% block title %} Administração {% endblock %}

{% block main %}
    <div class="container">
      <div class="row">
        <div class="col">

        </div>
            <div class="col-6">
                <br>
                <h3> <i class="fa fa-align-justify"></i> Lista de clientes:  </h3>
                <br>
        <ul class="list-group">
            {% for person in persons %}

                <li class="list-group-item">
                    <a href="{%url 'person_update' person.id%}">{{ person.Nome }}</a>
                    <a href="{%url 'person_delete' person.id%}">

                    </a>
                </li>

            {% endfor %}


        <a href="{% url 'person_new' %}" class="btn btn-primary"><i class="fa fa-user-plus"></i> Novo Cliente</a>


        </ul>
        </div>

        <div class="col">
            <br>
            <p>Olá {{ user.username }}!<a href="{% url 'logout'%} " class="btn btn-secondary">Sair <i class="fa fa-power-off"></i>
            </a></p>
        </div>
      </div>
    </div>

{% endblock %}

{% block footer %}
    <footer class="newfooter">
      <div class="container">
        <span class="text-muted">Desenvolvimento web com Django 2.x</span>
      </div>
    </footer>
{% endblock %}